<h1>TinyApp</h1>
<body>
    <% if (user === undefined) { %>
        <p>
            Login
            <form action="/login" method="POST">
                <label for='email'>Email</label>
                <input type='email' name='email'></input>
                <label for='password'>Password</label>
                <input type='password' name='password'></input>
                <button type="submit">Login</button>
            </form>
        </p>
        <!-- <p><a href = '/register'>Register</a><p> -->
    <% } else { %>
        <h4>
            Hello, <%= user.email %>
            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        </h4>
    <% } %>
</body>