<h1>Long URLs are for jocks and nerds</h1>
<h2>
    <% if (user === undefined) { %>
        <form action="/login" method="POST">
            <input id="login" type="email" name="email" placeholder="Email"> 
            <button type="submit">Login to my shitty web app</button>
        </form>
        <p><a href = '/register'>Register</a><p>
    <% } else { %>
        Hello, <%= user.email %>
        <form action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    <% } %>
</h2>