<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TinyApp</title>
    </head>
    <body>
        <h1>URLs_index</h1>
        <p><% for(var url in urls){ %></p>
        <li><%= url %> - <%= urls[url] %></li>
        <% } %>
        <a href = 'http://www.beesbeesbees.com/'>shorten please, not the bees</a>
    </body>
</html>