<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TinyApp</title>
    </head>
    <header>
        <% include ./partials/_header %>
    </header>
    <body>
        <h1>URLs_index</h1>
        <ul><% for(var url in urls){ %>
            <li>
                <form method="POST" action="/urls/<%= url %>/delete">
                <%= url %> -> <%= urls[url] %> <a href = "/urls/<%= url %>">Edit</a><input type="submit" value="Delete">
                </form>
            </li>
        <% } %>
        </ul>
        <a href = '/urls/new'>shorten please, not the bees</a>
        
    </body>
</html>